body {
  height: calc(100dvh - 100px);
  background-color: #edf2f7 !important;
}

/* .card {
    width: 200px;
    height: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  } */
/*
  .selected {
    transform: scale(1.05);
  } */

  /* .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
  }

  /* button:first-child {
    background-color: green;
    color: white;
  } */
/*
  button:last-child {
    background-color: red;
    color: white;
  } */

  /* .clearWebhook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    margin: 20px auto;
  }
 */
